/* Loading Page CLasses
Credits : https://codepen.io/aaroniker/pen/ZmOMJp */

.boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}
.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  animation: box1 var(--duration) linear infinite;
}
.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  animation: box2 var(--duration) linear infinite;
}
.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  animation: box3 var(--duration) linear infinite;
}
.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #04c0b4;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}
.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}
.boxes .box > div:nth-child(2) {
  --background: #00a99d; /* darkest */
  --right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  --background: #04b4a8; /*left side color*/
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  --background: #dbe3f4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}
@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}
@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}
@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.loading-align {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9fbff;
}

/* Loading Page CLasses*/

a {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #707070;
  text-decoration: none;
}

.logo {
  top: 4px;
  width: 170px;
  height: 50px;
}

.navbar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background-color: #ee6060;
}

.nav-link {
  padding: 0;
}

.navbar-fonts {
  top: 40px;
  color: #707070;
  font-family: 'Open Sans';
  font-size: 20px;
}

.form-rounded {
  border-radius: 30px;
}

.adjusted-form {
  margin-top: 0 !important;
  padding: 0%;
}

.adjusted-btn {
  margin: 0 0;
}

.change-color {
  background-color: #00a99d;
  border-radius: 20px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
}

.change-font {
  font-family: 'Segoe UI';
}

.card {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.cardslist-margin {
  margin-top: 5rem !important;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  height: 11rem;
}

.trip-title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
}

.darken-bg {
  background-color: black;
  width: 18rem;
  height: 2.6rem;
  padding: 5px 15px 5px 15px;
  opacity: 0.7;
  font-weight: bold;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0px;
}

.card-title {
  color: black;
}

.logo-on-card {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #707070;
  object-fit: cover;
}

.card-body {
  color: #808080;
  padding-bottom: 0rem;
}

/* Change btn to body since Open Sans is the default for all components */
.btn {
  font-family: 'Open Sans';
}

.change-card-width {
  width: 18rem;
}

.content-box {
  box-sizing: content-box;
}

.signin-background {
  background: url(/img/signin-bg.jpg);
  background-size: cover;
}

.signup-background {
  background: url(/img/signup-bg.png);
  background-size: cover;
}

.full-height-width {
  height: 100%;
  width: 100%;
  position: absolute;
}
.pos {
  position: relative;
}

.center-align {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.dark-button {
  border: 1px solid #00a99d;
  background-color: #00a99d;
  border-radius: 20px; /* Making border radius */
  /* width: auto; Making auto-sizable width */
  /* height: auto; Making auto-sizable height */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  color: #ffffff;
}

.light-button {
  border: 1px solid #00a99d;
  background-color: #ffffff;
  border-radius: 20px; /* Making border radius */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  color: #00a99d;
}

.faq {
  border: 1px solid;
}

.float-right {
  float: right;
}

@media only screen and (max-width: 990px) {
  ul.navbar-nav.navbar-fonts {
    display: flow-root;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row !important;
  }
}

/* Home Page elements */

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Scroll Animation 
Source : https://www.youtube.com/watch?v=UaYXrbNDqXM */

.scroll-button {
  position: absolute;
  top: 80%;
  left: 49%;
  width: 6vh;
  height: 6vh;
  /* background: #ffffff; */
  transform: rotate(45deg);
}

.scroll-button span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #ffff;
  border-right: 4px solid #ffff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scroll-button span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scroll-button span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scroll-button span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}

/*Scroll animation */

.home-searchbar {
  margin-top: 0 !important;
  padding: 0%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.36);
  border-radius: 50px;
}

.logo-dims {
  height: 5rem;
  width: 5rem;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar-w {
  width: 46%;
}

/* Drop down checkboxes*/

.rw-btn,
.rw-input-reset,
.rw-input,
.rw-dropdown-list-autofill,
.rw-filter-input {
  font-size: 14px;
}

.rw-multiselect-tag {
  margin-bottom: calc(0.279335em - 1px);
  vertical-align: middle;
  border: 1px solid #00a99d;
  background-color: #00a99d;
  border-radius: 20px; /* Making border radius */
  padding: 2px 15px 2px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  color: #ffffff;
}

.rw-widget-container {
  border: 1px solid #00a99d;
  background-color: #ffffff;
  border-radius: 30px; /* Making border radius */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  /* color: #00a99d; */
}
/* Drop down checkboxes*/

/*Slider CLasses  (remove them) */

.ant-col-4 {
  display: block;
  -ms-flex: 0 0 9.66666667%;
  flex: 0 0 9.66666667%;
  max-width: 9.666667%;
}
*/ .ant-col-15 {
  display: block;
  -ms-flex: 0 0 62.5%;
  flex: 0 0 62.5%;
  max-width: 62.5%;
  margin-left: 3.5rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.greenline {
  height: 20px;
  background-color: green;
  opacity: 0.5;
}

.home-heading {
  font-size: 3em;
  font-family: 'Open Sans';
  color: #585858;
  font-weight: 645;
}

/*
.underline {
  margin-top: 5rem;
  margin-left: -9rem;
  width: 20vh;
  height: 0.25vw;
  background-color: green;
  opacity: 0.5;
}
*/
/*
@media only screen and (max-width: 990px) {
  img.logo-no-text {
    display: none;
  }
}
*/

/* Trip Details Page */

.tripText {
  font-family: 'Open Sans';
  font-size: 2rem;
  font-weight: 660;
}

.divider {
  height: 0.2vh;
  background-color: dimgray;
}

.companytitle {
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 660;
}

@media only screen and (min-width: 1200px) {
  .backDrop {
    z-index: 1;
    position: absolute;
  }

  .frontDrop {
    z-index: 2;
    position: absolute;
    margin-top: 24vw;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  }

  .thirdDrop {
    z-index: 2;
    position: absolute;
    margin-top: 17vw;
  }
}

/* REUSABLE  */
.tb-border {
  border-style: solid;
}

.border-thin {
  border-width: thin;
}

/* Become bigger on hover */
.object-hover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.object-shadow {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6);
}

.object-hover:hover {
  transform: scale(1.05);
}

/* Change Color on hover */
.tr-highlight {
  background-color: white;
  color: #00a99d;
}

.tr-highlight:hover {
  background-color: #00a99d;
  color: #ffffff;
}

/* Re-usable for background, text color and borders */
.colored {
  color: gray;
  /* color: #00a99d; */
}
.colored:hover {
  color: #00a99d;
  /* color: #00a99d; */
}

.bg-gray {
  background-color: rgb(165, 161, 161);
}
.colored-r {
  color: red;
  /* color: #00a99d; */
}

.colored-r:hover {
  color: white;
}

.bg-turq {
  background-color: #00a99d;
}

.text-turq {
  color: #00a99d;
}

.border-turq {
  border-color: #00a99d;
}

.border-red {
  border-color: red;
}

/* Buttons */

.green-button {
  background-color: white;
  color: #00a99d;
}

.green-button:hover {
  background-color: #00a99d;
  color: white;
}

.r-green-button {
  background-color: #00a99d;
  color: white;
}

.r-green-button:hover {
  background-color: white;
  border-color: #00a99d;
  color: #00a99d;
}

.red-button {
  background-color: white;
  color: red;
}

.red-button:hover {
  background-color: red;
  color: white;
}

.r-red-button {
  background-color: red;
  color: white;
}

.r-red-button:hover {
  background-color: white;
  border-color: red;
  color: red;
}

.overlay {
  z-index: 3;
}

.circle-avatar {
  /* make it responsive */
  max-width: 20%;
  width: 100%;
  height: 2vw;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .bigscreen {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .smallscreen {
    display: none;
  }
}

.fix-width {
  min-width: 5em;
}
