.logo {
  top: 4px;
  width: 170px;
  height: 50px;
}

.navbar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background-color: #ee6060;
}

.navbar-fonts {
  top: 40px;
  color: #707070;
  font-family: 'Open Sans';
  font-size: 20px;
}

.form-rounded {
  border-radius: 30px;
}

.adjusted-form {
  margin-top: 0 !important;
  padding: 0%;
}

.adjusted-btn {
  margin: 0 0;
}

.change-color {
  background-color: #00a99d;
  border-radius: 20px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
}

.change-font {
  font-family: 'Segoe UI';
}

.card {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.cardslist-margin {
  margin-top: 5rem !important;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.trip-title {
  position: relative;
  text-align: center;
  color: white;
}

.darken-bg {
  background-color: black;
  width: 18rem;
  height: 2.6rem;
  padding: 5px 15px 5px 15px;
  opacity: 0.7;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: -8px;
}

.card-title {
  color: black;
}

.logo-on-card {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #707070;
  object-fit: cover;
}

.card-body {
  color: #808080;
  padding-bottom: 0rem;
}

/* Change btn to body since Open Sans is the default for all components */
.btn {
  font-family: 'Open Sans';
}

.change-card-width {
  width: 18rem;
}

.content-box {
  box-sizing: content-box;
}

.signin-background {
  background: url(/img/signin-bg.jpg);
  background-size: cover;
}

.signup-background {
  background: url(/img/signup-bg.png);
  background-size: cover;
}

.signin-page {
  height: 100%;
  width: 100%;
  position: absolute;
}

.form-margin {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.dark-button {
  border: 1px solid #00a99d;
  background-color: #00a99d;
  border-radius: 20px; /* Making border radius */
  /* width: auto; Making auto-sizable width */
  /* height: auto; Making auto-sizable height */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  color: #ffffff;
}

.light-button {
  border: 1px solid #00a99d;
  background-color: #ffffff;
  border-radius: 20px; /* Making border radius */
  padding: 5px 15px 5px 15px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  color: #00a99d;
}

.faq {
  border: 1px solid;
}

.float-right {
  float: right;
}

@media only screen and (max-width: 990px) {
  ul.navbar-nav.navbar-fonts {
    display: flow-root;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row !important;
  }
}

/* Home Page elements */

.greenline {
  height: 20px;
  background-color: green;
  opacity: 0.5;
}

.home-heading {
  font-size: 2em;
  font-family: 'Open Sans';
  color: #585858;
  font-weight: 645;
}

/*
.underline {
  margin-top: 5rem;
  margin-left: -9rem;
  width: 20vh;
  height: 0.25vw;
  background-color: green;
  opacity: 0.5;
}
*/
/*
@media only screen and (max-width: 990px) {
  img.logo-no-text {
    display: none;
  }
}
*/

/* Trip Details Page */

.tripText {
  font-family: 'Open Sans';
  font-size: 2rem;
  font-weight: 660;
}

.divider {
  height: 0.2vh;
  background-color: dimgray;
}

.companytitle {
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 660;
}

@media only screen and (min-width: 1400px) {
  .backDrop {
    z-index: 1;
    position: absolute;
  }

  .frontDrop {
    z-index: 2;
    position: absolute;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 50%;
  }
}

.table-hover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.table-hover:hover {
  transform: scale(1.05);
}
