html {
  min-height: 100%;
}

body {
  /* margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(/img/background.jpg) no-repeat; */
  /* background-size: 100%; */
  /* background-position: top; */
  /* To fill the gap with color */
  /* background-color: #2fa11b; */
  /* min-height: 100%;  */
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

.nav-wrapper .container .logo {
  position: absolute;
  top: -5px;
  width: 200px;
  height: 70px;
}

/* For lines when you click on a form */
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #42a5f5;
  box-shadow: none;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='date']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label {
  color: #42a5f5 !important;
}
